.todo-header-action-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container input {
  outline: none;
  border: none;
  padding: 0px 8px;
  width: 300px;
  height: 40px;
}

.search-container button {
  height: 40px;
}

.todo-container {
  padding: 32px 0px;
  margin-top: 8px;
  border-radius: 4px;
}

.todo-text {
  border-bottom: 1px solid #dbdbdb;
  color: white;
}

.single-todo {
  margin: 32px 0px;
  background: white;
  padding: 8px;
  box-shadow: 4px 4px 8px #303e72;
  position: relative;
}
.single-todo:last-child {
  margin-bottom: 0px;
}

.single-todo:after {
  content: '';
  width: 4px;
  height: 100%;
  background-color: red;
  position: absolute;
  left: -4px;
  top: 0;
}

.single-todo.completed:after {
  background-color:#43eb19;
}

.todo-title {
  font-size: 15px;
}

.completed .todo-title {
  color: #bbbbbb;
}

.completed .todo-description {
  color: #bbbbbb;
}

.no-todos {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}