@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}

main.main-section {
  min-height: calc(100vh - 195px);
  background: linear-gradient(to bottom, #7761cd, #889eef);
  padding: 32px;
}

.btn {
  outline: none;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.btn-rounded {
  border-radius: 4px;
}